@import "tailwindcss";

@theme {
  --font-sans: 'Prompt', system-ui, -apple-system, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  font-family: 'Prompt', system-ui, -apple-system, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
  user-select: none;
}
